<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hana1piece.trading.model.mapper.OrderBookMapper">

    <resultMap type="com.hana1piece.trading.model.vo.OrderBookVO" id="OrderBookMap">
        <result column="listing_number" property="listingNumber"/>
    </resultMap>

    <select id="init" parameterType="com.hana1piece.manager.model.dto.ManagerLoginDTO" statementType="CALLABLE">
        {CALL HANA1PIECE_MNG.INIT_ORDER_BOOK(#{listingNumber})}
    </select>

    <select id="findOrderBookListByLN" parameterType="int" resultMap="OrderBookMap">
        select *
        from order_book
        where listing_number = #{listingNumber}
        order by id desc
    </select>

    <select id="findSellOrderBookListByLN" parameterType="int" resultMap="OrderBookMap">
        select *
        from order_book
        where listing_number = #{listingNumber}
          and amount > 0
          and type = 'SELL'
        order by price desc
    </select>

    <select id="findBuyOrderBookListByLN" parameterType="int" resultMap="OrderBookMap">
        select *
        from order_book
        where listing_number = #{listingNumber}
          and amount > 0
          and type = 'BUY'
        order by price desc
    </select>

    <update id="updateAmount" parameterType="com.hana1piece.trading.model.vo.OrderBookVO">
        update order_book
        set amount = amount + #{amount}
        where listing_number = #{listingNumber}
          and type = #{type}
          and price = #{price}
    </update>

    <insert id="insertOrderBook" parameterType="com.hana1piece.trading.model.vo.OrderBookVO">
        insert into order_book(listing_number, type, price, amount)
        values (#{listingNumber}, #{type}, #{price}, #{amount})
    </insert>

    <select id="findOrderBookByLNAndPriceAndType" parameterType="map" resultMap="OrderBookMap">
        select *
        from order_book
        where listing_number = #{LN}
          and type = #{type}
          and price = #{price}
    </select>

</mapper>