<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
        <div>
            
        </div>
    </body>
</html>


<div style="width: 1920px; height: 1787px; position: relative; overflow: hidden; background: #fff;">
    <svg width="1920" height="1278" viewBox="0 0 1920 1278" fill="none" xmlns="http://www.w3.org/2000/svg"
        style="width: 1920px; height: 1274px; position: absolute; left: 0px; top: 0px;" preserveAspectRatio="none">
        <g filter="url(#filter0_f_284_749)">
            <path d="M0 0H1920V1274H0V0Z" fill="url(#paint0_linear_284_749)"></path>
            <path d="M0 0H1920V1274H0V0Z" fill="white" fill-opacity="0.2"></path>
        </g>
        <defs>
            <filter id="filter0_f_284_749" x="-4" y="-4" width="1928" height="1282" filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
                <feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_284_749"></feGaussianBlur>
            </filter>
            <linearGradient id="paint0_linear_284_749" x1="960" y1="0" x2="960" y2="1409.04"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#5CBCA9"></stop>
                <stop offset="1" stop-color="#DDF1ED" stop-opacity="0"></stop>
            </linearGradient>
        </defs>
    </svg>
    <div
        style="display: flex; justify-content: flex-start; align-items: flex-start; width: 1920px; position: absolute; left: 0px; top: 0px; overflow: hidden; gap: 80px; padding-left: 200px; padding-right: 200px; padding-top: 50px; padding-bottom: 25px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px; border-color: #fff;">
        <div
            style="display: flex; justify-content: center; align-items: center; flex-grow: 0; flex-shrink: 0; position: relative; gap: 9px;">
            <img src="logo-3.png"
                style="flex-grow: 0; flex-shrink: 0; width: 314px; height: 105px; object-fit: cover;" />
        </div>
        <div
            style="display: flex; justify-content: center; align-items: center; flex-grow: 0; flex-shrink: 0; width: 241px; height: 50px; position: absolute; left: 1589px; top: 0px; gap: 10px;">
            <div style="flex-grow: 0; flex-shrink: 0; width: 122px; height: 50px; position: relative;">
                <p
                    style="width: 122px; height: 50px; position: absolute; left: 0px; top: 0px; font-size: 18px; font-weight: 700; text-align: center; color: #000;">
                    로그인
                </p>
            </div>
            <div style="flex-grow: 0; flex-shrink: 0; width: 122px; height: 50px; position: relative;">
                <p
                    style="width: 122px; height: 50px; position: absolute; left: 0px; top: 0px; font-size: 18px; font-weight: 700; text-align: center; color: #000;">
                    회원가입
                </p>
            </div>
        </div>
        <div
            style="display: flex; justify-content: center; align-items: center; flex-grow: 0; flex-shrink: 0; width: 1406px; height: 77px; position: absolute; left: 514px; top: 64px; gap: 55px;">
            <div style="flex-grow: 0; flex-shrink: 0; width: 122px; height: 50px; position: relative;">
                <p
                    style="width: 122px; height: 50px; position: absolute; left: 0px; top: 0px; font-size: 18px; font-weight: 700; text-align: center; color: #000;">
                    투자하기
                </p>
            </div>
            <div style="flex-grow: 0; flex-shrink: 0; width: 122px; height: 50px; position: relative;">
                <p
                    style="width: 122px; height: 50px; position: absolute; left: 0px; top: 0px; font-size: 18px; font-weight: 700; text-align: center; color: #000;">
                    청약
                </p>
            </div>
            <div style="flex-grow: 0; flex-shrink: 0; width: 122px; height: 50px; position: relative;">
                <p
                    style="width: 122px; height: 50px; position: absolute; left: 0px; top: 0px; font-size: 18px; font-weight: 700; text-align: center; color: #000;">
                    마이페이지
                </p>
            </div>
            <div style="flex-grow: 0; flex-shrink: 0; width: 122px; height: 50px; position: relative;">
                <p
                    style="width: 122px; height: 50px; position: absolute; left: 0px; top: 0px; font-size: 18px; font-weight: 700; text-align: center; color: #000;">
                    고객지원
                </p>
            </div>
        </div>
    </div>
    <div
        style="width: 1920px; height: 217px; position: absolute; left: 0px; top: 1057px; overflow: hidden; background: #fff;">
        <div style="width: 1920px; height: 217px; position: absolute; left: 0px; top: 0px; background: #444;">
            <div style="width: 300px; height: 217px; position: absolute; left: 0px; top: 0px; background: #444;">
                <img src="pseudo.png"
                    style="width: 46px; height: 165px; position: absolute; left: 299px; top: -1px; object-fit: none;" />
                <div style="width: 240px; height: 38px; position: absolute; left: 116px; top: 97px;">
                    <p
                        style="width: 210.76px; height: 36px; position: absolute; left: 0px; top: 1px; font-size: 15px; text-align: left; color: #ccc;">
                        <span style="width: 210.76px; height: 36px; font-size: 15px; text-align: left; color: #ccc;">비대면
                            빠른 계좌 개설!</span><br /><span
                            style="width: 210.76px; height: 36px; font-size: 15px; text-align: left; color: #ccc;">누구나
                            쉽고 빠르게!</span>
                    </p>
                </div>
            </div>
            <p
                style="width: 1671px; height: 30px; position: absolute; left: 116px; top: 52px; font-size: 32px; text-align: left; color: #fff;">
                처음 오셨나요? 하나은행 비대면 계좌 개설로 더욱 빠르게 이용해보세요.
            </p>
        </div>
    </div>
    <div style="width: 981px; height: 829px; position: absolute; left: 0px; top: 180px; overflow: hidden;">
        <img src="image-7.png"
            style="width: 670px; height: 137px; position: absolute; left: 154px; top: 345px; object-fit: cover;" />
        <p
            style="position: absolute; left: 188px; top: 496px; font-size: 24px; font-weight: 700; text-align: left; color: #000;">
            원금 손실 가능 및 투자자 귀속
        </p>
    </div>
    <div
        style="width: 1919px; height: 303px; position: absolute; left: 0px; top: 1273px; background: rgba(181,181,181,0.1);">
    </div>
    <div style="width: 927px; height: 829px; position: absolute; left: 993px; top: 180px; overflow: hidden;">
        <img src="image-4.png"
            style="width: 852px; height: 547px; position: absolute; left: 44px; top: 140px; object-fit: cover;" />
    </div>
    <div
        style="width: 441px; height: 257px; position: absolute; left: 220px; top: 1296px; background: rgba(0,132,133,0.1); border-width: 1px; border-color: #6c757d;">
    </div>
    <p
        style="width: 195px; height: 43px; position: absolute; left: 362px; top: 1332px; font-size: 24px; text-align: left; color: #000;">
        친구초대 이벤트
    </p>
    <p style="position: absolute; left: 343px; top: 1481px; font-size: 20px; text-align: left; color: #000;">
        친구도 나도 건물 1주씩!
    </p>
    <p
        style="width: 249px; height: 50px; position: absolute; left: 316px; top: 1403px; font-size: 64px; font-weight: 700; text-align: left; color: #000;">
        5,000원
    </p>
    <p style="position: absolute; left: 848px; top: 1392px; font-size: 48px; font-weight: 700; text-align: left;">
        <span style="font-size: 48px; font-weight: 700; text-align: left; color: #000;">친구도 나도 </span><span
            style="font-size: 48px; font-weight: 700; text-align: left; color: #008485;">건물주</span><span
            style="font-size: 48px; font-weight: 700; text-align: left; color: #000;">
            되는 방법!</span>
    </p>
    <p style="position: absolute; left: 848px; top: 1459px; font-size: 24px; text-align: left;">
        <span style="font-size: 24px; text-align: left; color: #000;">추천인 코드를 통해 친구가 지갑을 만들면 친구도 나도 </span><span
            style="font-size: 24px; text-align: left; color: #008485;">투자지원금</span><span
            style="font-size: 24px; text-align: left; color: #000;">을 받을 수 있어요.</span>
    </p>
</div>