<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hana1piece.wallet.model.mapper.DividendMapper">
    <resultMap type="com.hana1piece.wallet.model.vo.DividendDetailsVO" id="DividendDetailsMap">
        <result column="payout_number" property="payoutNumber" />
        <result column="wallet_number" property="walletNumber" />
        <result column="listing_number" property="listingNumber" />
        <result column="payout_date" property="payoutDate" />
    </resultMap>

    <select id="findAll" resultMap="DividendDetailsMap">
        select * from dividend_details order by payout_number desc
    </select>

    <select id="findByWN" parameterType="int" resultType="com.hana1piece.wallet.model.dto.DividendDetailsDTO">
        select DD.PAYOUT_NUMBER  as payoutNumber,
               dd.PAYOUT_NUMBER  as payoutNumber,
               DD.WALLET_NUMBER  as walletNumber,
               DD.LISTING_NUMBER as listingNumber,
               DD.PAYOUT         as payout,
               DD.PAYOUT_DATE    as payoutDate,
               rei.BUILDING_NAME as buildingName
        from DIVIDEND_DETAILS dd
                 inner join REAL_ESTATE_INFO rei
                            on dd.listing_number = rei.LISTING_NUMBER
        where wallet_number = #{WN}
        order by payout_number desc
    </select>

    <select id="findByLN" parameterType="int" resultMap="DividendDetailsMap">
        select * from dividend_details where listing_number = #{LN} order by payout_number desc
    </select>

    <select id="getDividendDetailsByPage" parameterType="map" resultMap="DividendDetailsMap">
        SELECT *
        FROM (SELECT DIVIDEND_DETAILS.*,
                     ROW_NUMBER() OVER (ORDER BY payout_number DESC) as rn
              FROM DIVIDEND_DETAILS)
        WHERE rn BETWEEN #{offset} AND #{limit}
    </select>

    <select id="sumDividendFor6monthByWN" parameterType="int" resultType="int">
        select sum(payout) from dividend_details
        where wallet_number = #{WN}
    </select>

    <insert id="insertDividendDetails" parameterType="com.hana1piece.wallet.model.vo.DividendDetailsVO">
        insert into dividend_details(wallet_number, listing_number, payout)
        values(#{walletNumber}, #{listingNumber}, #{payout})
    </insert>

    <select id="getTotalPaymentCount" resultType="int">
        select count(*) from dividend_details
    </select>

</mapper>